<%- contentFor('HeaderCss') %>
  <%- include("../partials/title-meta", { "title" : "Login" }) %>
    <%- contentFor('body') %>
      <div class="">
        <div class="row w-50 ">
          <div class="">
            <div class="card">
              <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Create User Form</h4>
                <div class="flex-shrink-0">
                </div>
              </div><!-- end card header -->

              <div class="card-body ">
                <div class="live-preview">
                  <form class="needs-validation" id="create-user-form" action="/users" method="POST" novalidate>
                    <div class="row">
                      <div class="">
                        <div class="mb-3">
                          <label for="nameinput" class="form-label">Name</label>
                          <input type="text" class="form-control" name="name" value="<%- old ? old.name : '' %>"
                            placeholder="Enter your name" id="name" required>
                          <% if (errors && errors.name) { %>
                            <div class="text-danger">
                              <%= errors.name[0] %>
                            </div>
                            <% } %>
                        </div>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="">
                      <div class="mb-3">
                        <label for="phonenumberInput" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" name="phoneNumber"
                          value="<%- old ? old.phoneNumber : '' %>" placeholder="+(245) 451 45123" id="phoneNumber"
                          required>
                        <% if (errors && errors.phoneNumber) { %>
                          <div class="text-danger">
                            <%= errors.phoneNumber[0] %>
                          </div>
                          <% } %>
                      </div>
                      <!--end col-->
                      <div class="">
                        <div class="mb-3">
                          <label for="emailidInput" class="form-label">Email Address</label>
                          <input type="email" class="form-control" name="email" value="<%- old ? old.email : '' %>"
                            placeholder="example@gamil.com" id="email" required>
                          <% if (errors && errors.email) { %>
                            <div class="text-danger">
                              <%= errors.email[0] %>
                            </div>
                            <% } %>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="">
                        <div class="mb-3">
                          <label for="passwordInput" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password"
                            value="<%- old ? old.password : '' %>" placeholder="Enter your password" id="password"
                            required>
                          <% if (errors && errors.password) { %>
                            <div class="text-danger">
                              <%= errors.password[0] %>
                            </div>
                            <% } %>
                        </div>
                      </div>
                      <!--end col-->
                      <!--end col-->
                      <div class="row">
                        <div class="col">
                          <button type="submit" class="btn btn-primary">
                            Create
                          </button>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </form>
                </div>
                <div class="d-none code-view">
                </div>
              </div>
            </div>
          </div> <!-- end col -->
        </div>
        <%- contentFor('FooterJs') %>


          <!-- <script src="/assets/js/global-form-validate.js"> </script> -->